body {
    background-color: lightblue;
}

header {
    padding: 20px 35px;
    background-color: rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid black;
}

header nav {
    margin: 7px 0;
}
/* Display nav horizontally*/
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;;
}

.img {
    max-height: 300px;
    width: 49%;
    flex-wrap: wrap;
    border: 3px solid #555;
}

.aboutMe {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
}

.myWork {
    display: flex;
    padding: 5%;
    justify-content: space-between;

}

.contactMe {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
}

/* Spaces sections correctly */
.spacing {
    margin-left: 5%;
    flex-wrap: wrap;
}

/* Changes first image size */
.customIMG {
    width: 99%;
    height: auto;
    flex-wrap: wrap;
    border: 5px solid #555;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 1030px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    .img {
        width: 80%;
        height: auto;
        max-height: 300px;
        flex-wrap: wrap;
        border: 5px solid #555;
    }
}