header {
    padding: 20px 35px;
    background-color: rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    height: 200px;
    width: 300px;
}

.aboutMe {
    display: flex;
    padding: 5%;
}

.myWork {
    display: flex;
    padding: 5%;
}

.contactMe {
    display: flex;
    padding: 5%;
}

/* Spaces sections correctly */
.spacing {
    margin-left: 5%;
}

/* Changes first image size */
.customIMG {
    height: 500px;
    width: 908px;
}